
body {
  p {
    margin-block-start: .5em;
    margin-block-end: .5em;
  }
  background-color: green;
  font-size: 30px;
  font-family: sans-serif;
  .title {
    font-family: Bradley Hand;
    font-size: 100px;
    margin-block-end: 0.1em;
    text-align: center;
    text-justify: center;
  }
  .main {
    display: grid;
    justify-items: center;
    color: white;
  }
  .button {
    display: inline-block;
    border: 1.5px solid white;
    padding: 0px 7px 1.5px;
    border-radius: 10px;
    border-color: white;
    margin: .5em;
    cursor: pointer;
  }
  .input {
    color: green;
    padding-left: 10px;
    justify-items: center;
    font-size: 20px;
    height: 30px;
    width: 250px;
    margin-left: 5px;
    border-radius: 10px;
    border-radius: 10px;
    border-color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .caption_canvas_input {
    margin-top: 1em;
    margin-bottom: .5em;
  }
  .prompt {
    margin: 1em;
  }
}
.room {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  .before-button {
    margin-block-end: 1em;
  }
  .prompts {
    display: grid;
    justify-items: center;
  }
  .canvas {
    background-color: white;
    color: black;
  }
}

.host-waiting {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
}